* {
    margin: 8px;
    padding: 5px;
}

body {
    background-color: #40E0D0;
}

h1 {
    text-align:center   
}

.img-gatos {
    text-align:center
}

h2 {
    text-align:center   
}

.img-gatos2 {
    text-align:center
}